<a href="https://colab.research.google.com/github/Mik3Mon/edd_1310_2021/blob/master/1octubre_1310.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Intro Python 3
### Variables
tipo dinamico

`escuela = "Fes Aragon`

In [4]:
escuela = 'Fes Aragon'
print(escuela)
print('--------')
edad = 13
estatura = 1.70
fumador = True
frase = """
Esta es
una 
frase
de multiples líneas
y tambien es 
un tipo de dato
"""
print(frase)
nombre = 'jose'
nombre_completo = "jose sosa cardenas"

Fes Aragon
--------

Esta es
una
frase
de multiples líneas
y tambien es
un tipo de dato

# Print
con comas ,

con signo mas +

con format ()
 
con el operador f"

In [6]:
# la coma funciona como un espacio y no se debe cambiar el tipo de dato
print(nombre,edad)

jose 13

In [8]:
# el + concatena cadenas (se deben convertir los tipos de datos)
# el + no pone espacios
print(nombre + str(edad))
print(nombre + nombre_completo)

jose13
josejose sosa cardenas

In [12]:
# con formato -> Su nombre es Jose y su edad es 13 años.
print("Su nombre es",nombre,"y su edad es de",edad,'años')
print("Su nombre es {0} y su edad es de {1} años".format(nombre,edad))
print("Su nombre es {1} y su edad es de {0} años".format(nombre,edad))

Su nombre es jose y su edad es de 13 años
Su nombre es jose y su edad es de 13 años
Su nombre es 13 y su edad es de jose años

In [13]:
# con formato con el operador f""
print(f"Su nombre es {nombre} y su edad es de {edad} años")

Su nombre es jose y su edad es de 13 años

# Carácter de escape
\n salto de linea

\t tabulador

\a beep

\\" imprimir comilla doble

\\' imprimir comilla simple

In [14]:
"""
Esto es 
un comentario 
de multiple linea
"""
print(f"\tMi nombre es\n\t\t {nombre}")

	Mi nombre es
		 jose

# Ayuda de tipos de dato en Python
dir()

help()

In [ ]:
# str, int, float, bool ... list, dict, set
help(str)

In [20]:
print(nombre_completo.capitalize() )
print(nombre_completo.upper(), end="-----" )
print(nombre_completo.title() )

Jose sosa cardenas
JOSE SOSA CARDENAS-----Jose Sosa Cardenas

# Clase String
Es manejada como un arreglo (c o java) o lista (python)

`telefono = "Huawei mate 30 pro"`

In [28]:
telefono = "Huawei mate 30 pro"
print(telefono[5] )

i

# Slicing (rebanado)

[ini : stop : incremento]

nota el stop no se incluye, termina en el valor anterior al stop

In [34]:
print(telefono[7:11:1])
# el inicio y el incremento son opcionales
print(telefono[:11:])
# el valor por defecto de stop es len(str)
print(telefono[::])
# incremento negativo
print(telefono[::-1])
# slacing negativo
ini = -3
inc = 1
print(telefono[ini::inc])

mate
Huawei mate
Huawei mate 30 pro
orp 03 etam iewauH
pro

# Metodos  de String (str)

Existen métodos muy útiles en esta clase

In [56]:
facultad = "    facultad de estudios superiores aragon      \n"
print(facultad)
# .count cuenta los caracteres
print(facultad.count("u"))
# .find busca el indice del substring buscado
print(facultad.find("s"))
# .strip remueve los espacios en blanco al inicio
print(facultad.strip())
# len regresa la longitud del string
tamaño = len(facultad)
print(len(facultad))
print(f"tamaño de la cadena es {tamaño} caracteres")
# .split separa la cadena en el caracter que seleccionemos
print(facultad)
print(facultad.strip().split(" "))
print("--------------")
#copiar cadenas
otra_cadena = facultad
print(otra_cadena)
otra_cadena = "FES Aragón"
print(facultad)
print(otra_cadena)
#copiar listas
colores = ["rojo", "verde"]
otra = colores
print(colores)
print(otra)
otra.append("rosa")
print(colores)
print(otra)

    facultad de estudios superiores aragon

3
17
facultad de estudios superiores aragon
49
tamaño de la cadena es 49 caracteres
    facultad de estudios superiores aragon

['facultad', 'de', 'estudios', 'superiores', 'aragon']
--------------
    facultad de estudios superiores aragon

    facultad de estudios superiores aragon

FES Aragón
['rojo', 'verde']
['rojo', 'verde']
['rojo', 'verde', 'rosa']
['rojo', 'verde', 'rosa']