<a href="https://colab.research.google.com/github/Mik3Mon/edd_1310_2021/blob/master/6octubre.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
# String continuaci√≥n

numeros_txt = "  1, 2, 3, 4, 5,   15,  35,  32, 12"
print(numeros_txt)
numeros_txt = numeros_txt.lstrip().split(',')
print(numeros_txt)

for j in range(len(numeros_txt)):
    numeros_txt[ j ] = int(numeros_txt[j].strip())

print(numeros_txt)


# funcion range()

# range(inicio, stop , incremento)
print(range(1,10,3))
rango = range(1,10,2)

for x in rango:
    print(x)

rango = range(10)

for x in rango:
    print(x)

  1, 2, 3, 4, 5,   15,  35,  32, 12
['1', ' 2', ' 3', ' 4', ' 5', '   15', '  35', '  32', ' 12']
[1, 2, 3, 4, 5, 15, 35, 32, 12]
range(1, 10, 3)
1
3
5
7
9
0
1
2
3
4
5
6
7
8
9

# Listas
- Mutables
- Declaran con [ ]
- Selector [ int ]
- Pueden ser de cualquier tipo de dato

# Tuplas
- NO mutables
- Declara con ( )
- Selectos [ int ]

# Diccionarios
- Mutables
- Son un conjunto de pares llave: valor
- Equivalentes a los Objetos JSON de JavaScript

# Conjuntos
- Representacion de la teoria de conjuntos

In [31]:
# Listas
frutas = ["Pera" , "Manzana" , "fresa" , "Kiwi" , "Naranja" ]
print(frutas)
cosas = ["Cuaderno" , 2 , 3.1416 , True , False , ["Rojo", "Azul"] ]
print(cosas)
frutas[2]="Fresa"  # frutas[2] = frutas[2].capitalize()  
print(frutas)

# agregar a un lista
frutas.append("Aguacate")
print(frutas)
frutas.insert(2,"Sandia")
print(frutas)

# concatenar
fecha = ["6","10","2020"]
print(fecha)
fecha_str = "/".join(fecha)
print(fecha_str)

['Pera', 'Manzana', 'fresa', 'Kiwi', 'Naranja']
['Cuaderno', 2, 3.1416, True, False, ['Rojo', 'Azul']]
['Pera', 'Manzana', 'Fresa', 'Kiwi', 'Naranja']
['Pera', 'Manzana', 'Fresa', 'Kiwi', 'Naranja', 'Aguacate']
['Pera', 'Manzana', 'Sandia', 'Fresa', 'Kiwi', 'Naranja', 'Aguacate']
['6', '10', '2020']
6/10/2020

In [33]:
# eliminar elementos
cosas = ["Cuaderno" , 2 , 3.1416 , True , False , ["Rojo", "Azul"] ]
print(cosas)
cosas.append("Libro")
cosas.append("Lapiz")
print(cosas)
algo = cosas.pop()
print(cosas)
print(algo)

algo = cosas.pop(2)
print(cosas)
print(algo)

cosas.remove(2)
print(cosas)

# vaciar una lista
cosas.clear()
print(cosas)

# reordenar listas
print(frutas)
frutas.sort()
print(frutas)

['Cuaderno', 2, 3.1416, True, False, ['Rojo', 'Azul']]
['Cuaderno', 2, 3.1416, True, False, ['Rojo', 'Azul'], 'Libro', 'Lapiz']
['Cuaderno', 2, 3.1416, True, False, ['Rojo', 'Azul'], 'Libro']
Lapiz
['Cuaderno', 2, True, False, ['Rojo', 'Azul'], 'Libro']
3.1416
['Cuaderno', True, False, ['Rojo', 'Azul'], 'Libro']
[]
['Pera', 'Manzana', 'Sandia', 'Fresa', 'Kiwi', 'Naranja', 'Aguacate']
['Aguacate', 'Fresa', 'Kiwi', 'Manzana', 'Naranja', 'Pera', 'Sandia']

In [43]:
# slicing
cosas = ["Cuaderno" , 2 , 3.1416 , True , False , ["Rojo", "Azul"] ]
print(cosas[3:5:1])
print(cosas)
print(cosas[0][3:5:1])

numeros = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
print(numeros[7:12:1])

# sustituir rebanadas -2 , -2
numeros[7:12:] = [-2,2]
print(numeros)

# preguntar por existencia
print(-2 in numeros)
print(100 in numeros)

[True, False]
['Cuaderno', 2, 3.1416, True, False, ['Rojo', 'Azul']]
de
[8, 9, 10, 11, 12]
[1, 2, 3, 4, 5, 6, 7, -2, 2, 13, 14, 15]
True
False

# Listas Multidimension

listas dentro de listas

In [58]:
computadoras = ["Hp", "Macbook Pro 17", "Matebook", "Lenovo Legion" ]
oss = ["Windows 10", "Linux", "Android", "iOS"]

computo = [computadoras, oss ]
print(computo[0])
print(computo[1])
print(computo[0][2])
print(computo[0][2][0:4])
print(computo[0][3][5::-1])
print(computo[0][3][-8::-1])
print("Linux" in computo[1])
dbms = [ [ "MySQL","OpenSourse", False ],["MS SQL","De paga", True] ]
computo.append(dbms)
print(computo)
print(computo[2][0][0])
print(computo[2][1][1])

['Hp', 'Macbook Pro 17', 'Matebook', 'Lenovo Legion']
['Windows 10', 'Linux', 'Android', 'iOS']
Matebook
Mate
ovoneL
ovoneL
True
[['Hp', 'Macbook Pro 17', 'Matebook', 'Lenovo Legion'], ['Windows 10', 'Linux', 'Android', 'iOS'], [['MySQL', 'OpenSourse', False], ['MS SQL', 'De paga', True]]]
MySQL
De paga